.textarea {

    display: block;
    margin: auto;
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 500px;
  height: 100px;
  transition: all 0.2s;
}


.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.carousel{
  box-shadow: 0 0 15px 0 rgba(83, 83, 83, 0.315);
  background: rgba(255, 255, 255);

}
.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}
.coment{
    display: block;
    margin: auto;
}
.clasificacion{

  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}
@media (max-width: 600px) {
  .textarea {
  width: 300px;
  
  
}


}
